body{
    background-color: #121636;
    color: white;
}

.deleted{
    display: none !important;
}

.dataContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/*
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    flex: 0 0 20%;
    color: white;
    background-color: #6278e2;
    border: 1px solid #6278e2;
    border-radius: 5px;
    background-blend-mode: screen;
}
*/

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 30%;
    bottom: -30px;
}

.deleteButton, .editButton, .confirmButton{
    position: relative;
    place-self: flex-end;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 1.1rem;
    cursor: pointer;
}

.deleteButton{
    left: 10px;
    bottom: 10px;
    background-color: orangered;
    color: darkred;
}

.editButton{
    left: -15px;
    bottom: 30px;
    background-color: #a1cd2c;
    color: #516816;
}

.confirmButton{
    /*left: 20px;*/
    /*top: 130px;*/
    left: -15px;
    bottom: 30px;
    background-color: #53b2f5;
    color: #194d74;
}

.wrapItUp{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 5px;
    flex: 0 0 20%;
    color: white;
    background-color: #6278e2;
    border: 25px solid #6278e2;
    border-radius: 5px;
    background-blend-mode: screen;
}

span{
    margin-bottom: 25px;
    margin-top: -20px;
}

.wrapItUp input, .wrapItUp label, .wrapItUp select{
    margin-bottom: 25px;
    margin-top: -20px;
}